<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.umei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />

    <application
        android:name="com.open.umei.application.UmeiApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 主tab页面 -->
        <activity
            android:name="com.open.umei.activity.MainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
             android:description="@string/umei_tab_desp" 
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <!--  tab首页页面 -->
        <activity
            android:name="com.open.umei.activity.UmeiMainExpandableActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
             android:description="@string/umei_main_ex_desp" 
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <!-- 子tab页面 fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiNavIndicatorHorizontalViewPagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:description="@string/umei_tab_h_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <!-- 子Tag页面 fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiNavTagIndicatorHorizontalViewPagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:description="@string/umei_tab_tag_desp" 
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        
        <!-- umei indicator指示器+viewpager+fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiMainIndicatorViewPagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:description="@string/umei_main_indicator_desp"
             >
           
        </activity>
        
        <!-- umei TabHost+viewpager+fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiMainTabHostViewPagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation" 
            android:description="@string/umei_main_tabhost_desp"
            >
        </activity>
        
        <!-- umei listview+fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiNavActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
			android:theme="@style/Theme.PageIndicatorDefaults" 
			android:description="@string/umei_nav_desp"            
			>
        </activity>
        
        <!-- umei ListFragment+fragment -->
        <activity
            android:name="com.open.umei.activity.ListFragmentUmeiNavActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults" 
            android:description="@string/umei_listfragment_desp"  
			>
            
        </activity>
        
         <!-- umei viewpager -->
        <activity
            android:name="com.open.umei.activity.UmeiViewPagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_viewpager_desp"  
			>
        </activity>
        
         <!-- umei   header fragment -->
        <activity
            android:name="com.open.umei.activity.UmeiTypeListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_type_list_desp"  
			>
        </activity>
        
          <!-- umei  图片详细 -->
        <activity
            android:name="com.open.umei.activity.UmeiArticleActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_article_list_desp"  
			>
        </activity>
        
        <!-- umei  图片详细grid head -->
        <activity
            android:name="com.open.umei.activity.UmeiArticleGridHeadActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_article_list_grid_head_desp"  
			>
        </activity>
        
         <!-- umei  图片详细Fragment实现 -->
        <activity
            android:name="com.open.umei.activity.UmeiArticleFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_article_fragment_list_desp"  
			>
        </activity>
         <!-- umei 搜索-->
        <activity
            android:name="com.open.umei.activity.SearchResultActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_search_desp"  
			>
        </activity>
         <!-- umei tag搜索-->
        <activity
            android:name="com.open.umei.activity.SearchResultTagActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_search_tag_desp"  
			>
        </activity>
         <!-- umei webview-->
        <activity
            android:name="com.open.umei.activity.UmeiWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_webview_desp"  
			>
        </activity>
         <!-- umei 优美主页面viewpager-->
        <activity
            android:name="com.open.umei.activity.UmeiMainViewPagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_main_viewpager_desp"  
			>
        </activity>
         <!-- umei 优美主页面-->
        <activity
            android:name="com.open.umei.activity.UmeiMainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_main_desp"  
			>
        </activity>
        
        <!-- umei 优美cc主页面-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMMainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_m_main_desp"  
			>
        </activity>
        
         <!-- umei 优美cc看图-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMArcBodyActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_m_arc_body_desp"  
			>
        </activity>
        
        <!-- umei 图片详细listview 加head ，加footFragment实现-->
        <activity
            android:name="com.open.umei.activity.UmeiArticleListHeadFootFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_article_list_head_foot_desp"  
			>
        </activity>
        
        <!-- umei 优美cc看图listview 加head ，加footFragment实现-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMArcBodyListHeadFootActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_m_arc_body_head_foot_desp"  
			>
        </activity>
        
        <!-- umei 优美cc导航栏-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMNavGridHeadFootActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_m_nav_head_foot_desp"  
			>
        </activity>
        
         <!-- umei 优美cc Nav指示器  -->
        <activity
            android:name="com.open.umei.activity.m.UmeiMNavIndicatorViewPagerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:description="@string/umei_m_nav_indicator_desp"
             >
           
        </activity>
        <!-- umei 优美cc国内标签云-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMTagGridHeadFootActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_m_tag_head_foot_desp"  
			>
        </activity>
        <!-- umei 优美cc图片viewpager-->
        <activity
            android:name="com.open.umei.activity.m.UmeiMActicleViewPagerActivity"
            android:description="@string/umei_m_article_viewpager_desp"  
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" 
            android:screenOrientation="sensor"
			>
        </activity>
         <!-- 下载收藏 -->
         <activity
            android:name="com.open.umei.activity.UmeiOpenDBActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_open_db_desp" >
        </activity>
         <!-- 下载收藏type -->
         <activity
            android:name="com.open.umei.activity.UmeiOpenDBTypeIndicatorActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults"
            android:description="@string/umei_open_db_type_desp" >
        </activity>
        <!-- 所有类列表 -->
        <activity
            android:name="com.open.umei.activity.UmeiALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/umei_all_desp"  
             >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>